{% extends 'admin/base.html' %}
{% block content %}
  <div class="col-12" id="data">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Aktivitas</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID Karyawan</th>
              <th scope="col">Nama</th>
              <th scope="col">Kategori</th>
              <th>Jam Masuk</th>
              <!-- <th scope="col">Aksi</th> -->
            </tr>
          </thead>
          <tbody>
            {%  for index in range(0, activities|length) %}
            <tr>
              <th scope="row">{{ index + 1 }}</th>
              <th>{{ activities[index].Employee.ID_EMPLOYEE }}</th>
              <td>{{ activities[index].Employee.NAME }}</td>
              <td>{{ activities[index].Category.NAME }}</td>
              <td>{{ activities[index].Activity.TIME }}</td>
              <!-- <td>asas</td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}